{{define "userError"}}
<!DOCTYPE html>
<html>
<head>
    <title>Inscription</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/webPages/style.css">
</head>
<body>
    <h1 class="centred">Erreurs lors de la saisie</h1>
    {{range .Errors}}
        <h3>{{.}}</h3>
    {{end}}

    
    <form class="centred" action="/promo" method="POST">
        <button type="submit" class="TitleButton">Cliquez ici pour voir la promo</button>
    </form>
    <form class="centred" action="/" method="POST">
        <button type="submit" class="TitleButton">Cliquez ici pour aller a l'index</button>
    </form>
    <form class="centred" action="/change" method="POST">
        <button type="submit" class="TitleButton">Cliquez ici pour voir le compteur de vues</button>
    </form>
    <form class="centred" action="/user/form" method="POST">
        <button type="submit" class="TitleButton">Cliquez ici pour voir la page d'inscription</button>
    </form>
</html>
{{end}}