{{define "productList"}}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/styles/productListStyles.css">
    <link rel="stylesheet" href="/styles/titlebarStyles.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Home</title>
</head>
<body>
    <div class="titleBar">
        <div class="titlebarButtonsContainer">
            <button class="titlebarButton" id="titleBar_Index" onclick="window.location.href='/'">Produits</button>
            <button class="titlebarButton" id="titleBar_productMgmt" onclick="window.location.href='/productMgmt'">Gestion</button>
        </div>

        <img src="/images/logo/1.png" alt="Logo">
    </div>
    <div class="centeredText">
        <h1>Produits:</h1>
    </div>
    <div class="mainProductDiv">
        <ol class="productList">
            {{range .ProductList}}
            <li>
                <div class="productDiv">
                    <img class="productImage" src="/images/products/{{.ImageName}}" alt="Produit">
                    <div class="productInfo">
                        <p class="productName">{{.Nom}}</p>
                        <div class="productPriceNInfo">
                            <div class="price-div">
                                <!--Jsp si la condition dans la class c'est horrible ou un coup de génie mais je refuse de croire que c'est comme ca qu'on est sensé faire-->
                                <p class="price{{if ne .Reduction "0"}}Reduc{{end}}">{{.Prix}}</p> 
                                {{if ne .Reduction "0"}}
                                <p class="reduction">{{.Reduction}}</p>
                                {{end}}
                            </div>
                            <form method="GET" action="/product/{{.Id}}">
                                <button type="submit" class="selectButton">Consulter</button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            {{end}}
        </ol>
    </div>
</body>
</html>
{{end}}