<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="productDataStyles.css">
    <link rel="stylesheet" href="titlebarStyles.css">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>
<body>
    <div class="titleBar">
        <div class="titlebarButtonsContainer">
            <button class="titlebarButton">Produits</button>
            <button class="titlebarButton">Gestion</button>
        </div>
        <img src="logo.png" alt="Logo">
    </div>
    <div class="productDiv">
        <img class="productImage" src="placeholder.png" alt="Produit 1">
        <div class="productInfo">
            <p class="productName">Lorem ipsum dolor</p>
            <p class="productSize">Tailles disponibles: L | XL</p>
            <p class="productDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc.</p>
            <div class="productPriceNInfo">
                <p class="price">1€</p>
                <button class="addToCartButton" id="product_1">Ajouter au panier</button>
            </div>
        </div>
    </div>
</body>
</html>